<!DOCTYPE html>
<html lang="en">

{% extends 'base_generic.html' %}
{% load static %}

{% block content %}

<body>
    <ul>
        <li><strong>Average temperature</strong> {{ temp }}</li>
        <li><strong>Average humidity</strong> {{ hum }}</li>
        <li><strong>Average pressure</strong> {{ pres }}</li>
    </ul>
    <div>

<!--    {{ data|safe }} -->

    </div>
</body>

<body>

    <div>
    <img src ="{% static 'static/images/picture.jpg' %}" alt="Image">
    </div>

</body>
</html>

{% endblock %}